*{
	margin: 0px;
	padding: 0px;
	font-family: 'Pattaya', sans-serif;
}

/* Nav Design */
nav{
	width: 100%;
	display: inline-flex;
}
nav h1 {
	margin: 10px;
	text-decoration: underline;
}
nav a {
	margin: 13px;
	color: black;
	text-decoration: none;
	font-size: 24px;
}
nav a:hover, .active {
	color: #03fcc2;
}

/* Home Design */
main{
	width: 100%;
	text-align: center;
}

#homeBox1{
	width: 100%;
	display: inline-flex;
	justify-content: center;
}
#homeBox1 img{
	width: 400px;
	height: 400px;
	margin: 20px;
}
#TBBtext{
	margin: 20px;
}
#TBBtext button{
	margin: 10px;
	padding: 20px 40px;
	font-size: 30px;
	border-style: none;
	background-color: #1cc72d;
}
#TBBtext button:hover{
	text-decoration: underline;
	background-color: #16a624;
	transition: 0.5s;
}
#homeBox2{
	width: 100%;
	display: block;
	justify-content: center;
}
#homeBox2 img{
	width: 400px;
	height: 400px;
	margin: 20px;
}
#meetTheOwner{
	margin-top: 20px; 
}